<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Application" >
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/application.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <!--                https://logging.apache.org/log4j/2.x/manual/layouts.html-->
                <Pattern>%date %level %class{1.}:%line [%thread] %message%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="200 MB"/>

                <!-- минута час день месяц день_недели-->
                <!--                <CronTriggeringPolicy schedule="0 0 * * * ?"/>-->

                <!--                <TimeBasedTriggeringPolicy interval="3" modulate="true"/>-->
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>